# ============================================
# Meu Projecto — Variáveis de Ambiente
# ============================================

# --- App ---
APP_PORT=8080

# --- PostgreSQL ---
POSTGRES_DB=meu_projecto_db
POSTGRES_USER=meu_projecto_user
POSTGRES_PASSWORD=

# --- Redis ---
REDIS_PASSWORD=

# --- Node / Vite ---
VITE_PORT=5173

# --- Mailpit ---
MAILPIT_PORT=8025
