# ============================================
# Meu Projecto — Git Ignore
# ============================================

# --- Ambiente ---
.env

# --- Docker Secrets ---
secrets/*
!secrets/*.example

# --- Laravel ---
src/vendor/
src/node_modules/
src/storage/*.key
src/.phpunit.result.cache

# --- IDEs ---
.idea/
.vscode/
*.swp
*.swo

# --- OS ---
.DS_Store
Thumbs.db
