<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Identity-Web">
            <directory>modules/Identity/Tests/Web</directory>
        </testsuite>
        <testsuite name="Identity-Api">
            <directory>modules/Identity/Tests/Api</directory>
        </testsuite>
        <testsuite name="User-Api">
            <directory>modules/User/Tests/Api</directory>
        </testsuite>
        <testsuite name="User-Web">
            <directory>modules/User/Tests/Web</directory>
        </testsuite>
        <testsuite name="Authorization-Api">
            <directory>modules/Authorization/Tests/Api</directory>
        </testsuite>
        <testsuite name="Authorization-Web">
            <directory>modules/Authorization/Tests/Web</directory>
        </testsuite>
        <testsuite name="Notification-Api">
            <directory>modules/Notification/Tests/Api</directory>
        </testsuite>
        <testsuite name="ActivityLog-Api">
            <directory>modules/ActivityLog/Tests/Api</directory>
        </testsuite>
        <testsuite name="Export-Api">
            <directory>modules/Export/Tests/Api</directory>
        </testsuite>
        <testsuite name="Settings-Api">
            <directory>modules/Settings/Tests/Api</directory>
        </testsuite>
        <testsuite name="Media-Api">
            <directory>modules/Media/Tests/Api</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>modules</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="APP_LOCALE" value="pt"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="MEDIA_DISK" value="minio"/>
    </php>
</phpunit>
